body{
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: #252B42;
    padding: 0;
    margin: 0;
    min-height: 1000px;
}

.header .top_header{
    height: 150px;
    background-color: #FDFCED;
}

.input_icons{
    position: relative;
    display: flex;
    float: right;
    right: 20px;
    top: 30px;
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 10px;
}

.input_icons i{
    position: absolute;
}

.fa-search{
    padding: 10px;
    color: navy;
    min-width: 50px;
    text-align: center;
}

.input_field{
    width: 50%;
    padding: 10px;
    text-align: center;
}

.nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 140px;
    margin: auto;
    top: -70px;
    width: 70%;
    background-color: white;
    box-shadow: 2px 2px red;
    /*border: 2px solid red;*/
}

.logo{
    position: relative;
    display: flex;
    flex-direction: row;
}

.logo img{
   width: 30%;
}

.text-header h1{
    font-size: 25px;
    color: #252B42;
    position: relative;
    top: 30px;
}

.text-header p{
    position: relative;
    top: 9px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: red;

}

.navbar{
    margin: 0 auto;
    padding: 10px;
}

.navbar ul{
    text-align: right;
}

.navbar > ul > li{
    display: inline-block;
    position: relative;
    top: 20px;
    margin-right: 30px;
    color: #252B42;
    font-weight: bold;
}

.navbar > ul > li a{
    text-decoration: none;
    color: red;
}

.navbar > ul > li:hover{
    color: green;
}

#quizz{
    color: red;
}

#quizz:hover{
    color: green;
}

.landline{
    float: right;
    position: relative;
    top: 20px;
    height: 100px;
    width: 12%;
    background:-webkit-linear-gradient(-25deg,#ffff 23%,#252B42 5%);
    text-align: center;
}

.landline p{
    position: relative;
    top: 10px;
    margin-top: 5px;
    color: white;
}

.content .background_img{
    position: relative;
    top: -140px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hall_side0.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.mission{
    color: black;
    height: 300px;
    width: 30%;
    float: right;
    position: relative;
    top: 300px;
    right: 30px;  
    background-color: rgba(255, 255, 255, 0.582);
   
}

.mission h2{
    font-weight: 700;
    margin-left: 50px;
    color: black;
}

.mission p{
    margin-left: 50px;
}

#read_more{
    width: 150px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 50px;
    background-color: #24A6F0;
    color: rgb(247, 253, 246);
    border: #24A6F0;
    position: absolute;
}

#read_more:hover{
    background-color: #252B42;
}

.welcome{
    height: 439px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -90px;
    background-color: #252B42;
    
}

.welcome .welcome_img{
    width: 50%;
    height: fit-content;
    margin-right: 30px;
}

.welcome .welcome_text{
    padding-left: 30px;
    color: rgb(247, 253, 246);
}

.welcome_text h2{
    color: red;
    font-weight: 700;
}

.techclub{
    height: 520px;
    background-color: #FDFCED;
}

.techclub .heading{
    padding-top: 20px;
    margin: auto;
    height: 120px;
    width: 65%;
    text-align: center;
}

.techclub .heading h2{
    color: red;
}

.techclub .departments{
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#datascience{
    position: relative;
    height: 360px;
    width: 30%;
    background-image: url("../images/datascience.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

#cybersecurity{
    height: 360px;
    width: 30%;
    background-image: url("../images/security.jpg");
    background-size: contain;
    background-repeat: no-repeat;
 
}

#softwareeng{
    height: 360px;
    width: 30%;
    background-image: url("../images/engineering.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*#datascience, #cybersecurity, #softwareeng p{
    color: yellow;
    text-align: center; 
}*/

.board{
    width: 70%;
    margin: auto;
    position: relative;
    top: -60px;
    color: #252B42;
    background-color: #FEFCED;
}

#quiz{
    margin-left: 50px;
}

#submitbtn{
    width: 150px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: red;
    color: rgb(247, 253, 246);
    border: #24A6F0;
    position: relative;

}

#submitbtn:hover{
    background-color: green;
}

.board h2{
    text-align: center;
}

.footer{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 45px;
    background-color: #FDFCED;
    position: relative;
}

.footer .department, .support, .clubs, .intouch{
    height: 250px;
    width: 20%;
    font-size: 18px;
    position: relative;
    left: 62px;
    color: #838383;
    background-color: #FDFCED;
    /*border: 2px solid orange;*/
}

.footer h3{
    color: #32384E;
    position: relative;
    left: 8px;
}


.footer .intouch{
    width: 20%;
}

.footer .intouch span{
    color: #24A6F0;
    padding-right: 10px;
    font-size: 20px;
}

.footer li{
    list-style: none;
    position: relative;
    left: -33px;
    padding-bottom: 20px;
}

.footer li:hover{
    color: rgb(37, 43, 66);
}

.btmfooter{
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #252B42;

}

.btmfooter .sign{
    position: relative;
    margin-top: 10px;
    right: 270px;
    color: rgba(142, 142, 142, 0.959);
}

.btmfooter .socials{
    color: #24A6F0;
    font-size: 30px;
    position: relative;
    left: 260px;
    margin-top: 20px;
}

.fab{
    margin-left: 20px;
}
